



body {
    background-color:  #e6dbc9;
    color: black;
    font-family: 'Garamond';, sans-serif;
    font-size: 19px;
    font-weight: 300;
     overflow-x: hidden;



}

h1 {
    color: black;
    font-family: 'IBM Plex Mono', serif;
    font-size: 36px;
    font-weight: 700;
        background-color: transparent;

}

h2 {
    color: black;
    font-family: 'IBM Plex Mono', serif;
    font-size: 36px;
    font-weight: 700;
}

h3 {
    color: black;
    font-family: 'Garamond', serif;
    font-size: 18px;
    font-weight: 300;
}

h6 {
    color: #0003FF;
    font-family: 'Garamond', serif;
    font-size: 48px;
    font-weight: 600;
}


a {
  color: #0003FF;
   opacity: 1;
  transition: 0.2s;
  text-decoration: underline;
}

a:hover{
   color: #0003FF;
  opacity:0.5;
  cursor: pointer;
}

.fade {
  opacity: 0.3;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}



::selection {
  background: #ffdb00; /* WebKit/Blink Browsers */
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.3s;
  -moz-animation-duration:0.3s;
  animation-duration:0.3s;
}

.fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;

}

.fade-in.two {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay:0.5s;
  animation-delay: 0.5s;
}

.fade-in.three {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.four {
  -webkit-animation-delay: 1.0s;
  -moz-animation-delay: 1.0s;
  animation-delay: 1.0s;
}
.homepage #top { display: none; }

.project-icon {
	opacity: 0.5;
   font-family: 'Rubik', sans-serif;
   margin: 5px;
   transition: all 0.25s ease-in-out; 
    padding: 40px;

   }

.project-icon a {
	color: #ffffff;
}

.project-icon:hover {
	opacity: 1;
	transform: translateY(-10px);
}



.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}


.content {
  max-height: 0;
  transition: max-height 0.3s ease-out;
  background-color: transparent;
  padding-left: 40px;
  padding-top: 10px;
}

.div {
      background-color: transparent;

}

.zoom {
  transition: transform .2s; /* Animation */
  margin: 1em auto;
  padding: 5px;

}

.zoom:hover {
  transform: scale(1.05);
  opacity: 1; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



 


